{% extends 'base.html' %}

{% block content %}
<style>
    h1,ul {
        text-align: center;
        list-style-type: none;
        color: rgb(255, 255, 255);
    }
    
    
</style>
    <h1>{{band}}</h1>
    <ul>
        {% for artist in band.members.all %}
        <li><a class="text-light" href="/catalogue/artist_detail/{{artist.id}}">{{artist}}</a></li>
        {% endfor %}
    </ul>
        <img class='mx-auto d-block' height="50%" width="50%" src="{{ band.image.url }}" alt="">

{% endblock %}