{% extends 'base.html' %}
{% load static %}


{% block content %}
<style>
    body {
          background-image: url("{% static 'images/noice.jpg' %}");
        }

    h1,ul {
        text-align: center;
        list-style-type: none;
    }
</style>
    <h1>Welcome to the Catalogue Page</h1>
    <ul>
    <li><a class="text-danger" href="{% url 'catalogue:list_album' %}">List of Albums</a></li>
    <li><a class="text-danger" href="{% url 'catalogue:list_band' %}">List of Bands</a></li>
    </ul>  

    {% endblock  %}
