{% extends 'base.html' %}
{% load static %}


{% block content %}
<style>
    body {
          background-image: url("{% static 'images/prism.jpg' %}");
        }

    h1{
        text-align: center;
        list-style-type: none;
        color: rgb(255, 255, 255);
    }
    div {
        height: 80%;
    }
</style>
    <h1>Welcome to the Catalogue Page</h1>

    <div class="d-flex flex-row justify-content-center gap-5 col-4 mx mx-auto">
    <a class="my-auto" href="{% url 'catalogue:list_album' %}"><img src="{% static 'images/albums.jpg' %}" height="200" width="200" alt="List of Albums"></a>
    <a class="my-auto" href="{% url 'catalogue:list_band' %}"><img src="{% static 'images/bands.jpg' %}" height="200" width="200" alt="List of Bands"></a>
    <a class="my-auto" href="{% url 'catalogue:list_artist' %}"><img src="{% static 'images/artists.jpg' %}" height="200" width="200" alt="List of Artists"></a>
    </div>
{% endblock  %}
